* {
	box-sizing: border-box;
   }
   *:before,
   *:after {
	box-sizing: border-box;
   }

body {
	font-family: 'Roboto', sans-serif;
	background: #FFF;
	height: 100%;
	position: relative;
	background-image: url("https://i.pinimg.com/originals/8a/80/78/8a8078d885942d71179d447d7f669d89.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: 20%;
}

nav {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}

.con {
	min-height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px;
	background-color: #f4f4fc;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}

h1 {
	font-family: 'Muli', sans-serif;
	font-size: 4em;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 20px;
	letter-spacing: -1px;
	background-color: red;
	color: white;
}

p {
	text-align: center;
	line-height: 2;
	margin: auto;
	font-size: 1.2em;
}

footer {
    text-align: right;
	background: #fff;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	margin-bottom:0;
	bottom:0;
	position: absolute;
	width: 100%;
	padding: 20px;
}

.btn {
	margin: 30px;
}

form {
	margin-top: 40px;
}

a {
	color: #830f0f;
}

#waifuModal {
	text-align: center;
}

.modal-img {
	max-width: 80%;
	height: auto;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

span {
	margin-left: 10px;
	margin-right: 10px;
	color: #777;
	font-size: 20px;

}